<div id="projects-part" class="proyecto">
  <div class="title">
    <h1>Proyectos</h1>
  </div>
  <div class="fila">
    <!-- aca -->
    <div class="cardi">
      <div class="cardimg">
        <img src="../../../assets/faviconn.png" alt="" />
      </div>
      <div class="data">
        <div class="titulo">
          <h3>titulo</h3>
        </div>
        <div class="descripcion">
          <p>aaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class="github">
          <a href="">Ver</a>
          <a href=""><img src="../../../assets/github.svg" alt="git" /></a>
        </div>
      </div>
    </div>
    <div class="cardi">
      <div class="cardimg">
        <img src="../../../assets/faviconn.png" alt="" />
      </div>
      <div class="data">
        <div class="titulo">
          <h3>titulo</h3>
        </div>
        <div class="descripcion">
          <p>aaaaaaaaaaaaa</p>
        </div>
        <div class="github">
          <a href="">Ver</a>
          <a href=""><img src="../../../assets/github.svg" alt="git" /></a>
        </div>
      </div>
    </div>
  </div>
  <!-- aca2 -->
  <div class="fila2">
      <div class="cardi">
      <div class="cardimg">
        <img src="../../../assets/faviconn.png" alt="" />
      </div>
      <div class="data">
        <div class="titulo">
          <h3>titulo</h3>
        </div>
        <div class="descripcion">
          <p>aaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
        <div class="github">
          <a href="">Ver</a>
          <a href=""><img src="../../../" alt="git"/></a>
        </div>
      </div>
    </div>
    <div class="cardi">
      <div class="cardimg">
        <img src="../../../assets/faviconn.png" alt="" />
      </div>
      <div class="data">
        <div class="titulo">
          <h3>titulo</h3>
        </div>
        <div class="descripcion">
          <p>Sarasa</p>
        </div>
        <div class="github">
          <a href="">Ver</a>
          <a href=""><img src="../../../assets/github.svg" alt="git"/></a>
        </div>
      </div>
    </div>
    </div>
</div>
