<div id="contacto-part" class="experiencia">
  <div class="tittleExp">
    <h1>qualification</h1>
  </div>

  <div class="contenedorHijoLeft">
    <div class="seccion"><h3>Educacion</h3></div>
    <div class="hijoCadaRectangulo">
      <div class="statusData">
        <div class="parteTop">
          <h6>2022 Present</h6>
        </div>
        <div class="tittleRecuadro">
          <h4>Titulo Educacion</h4>
          <p>Governate College in pdf</p>
        </div>
      </div>
    </div>
    <div class="hijoCadaRectangulo">
      <div class="statusData">
        <div class="parteTop">
          <h6>2022 Present</h6>
        </div>
        <div class="tittleRecuadro">
          <h4>Titulo Educacion</h4>
          <p>Governate College in pdf</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contenedorHijoRight">
    <div class="seccion"><h3>Experiencia</h3></div>
    <div class="hijoCadaRectangulo">
      <div class="statusData">
        <div class="parteTop">
          <h6>2022 Present</h6>
        </div>
        <div class="tittleRecuadro">
          <h4>Titulo Educacion</h4>
          <p>Governate College in pdf</p>
        </div>
      </div>
    </div>
    <div class="hijoCadaRectangulo">
      <div class="statusData">
        <div class="parteTop">
          <h6>2022 Present</h6>
        </div>
        <div class="tittleRecuadro">
          <h4>Titulo Educacion</h4>
          <p>Governate College in pdf</p>
        </div>
      </div>
    </div>
  </div>
</div>
