<div id="parte-home" class="home">
  <div class="homeCentro">
    <div class="ultCont">
      <img src="../../../assets/Perfil.png" alt="imagenPerfil" />
    </div>
  </div>
  <div class="homeData">
    <div class="data">
      <h1>Nahuel Arancibia</h1>
      <h3>desarrolador back-end</h3>
    </div>
    <div class="informacionPerfil">
      <p>
        Soy Nahuel Arancibia, estudio la carrera de analista programador en la
        Univesidad de Informatica de La Plata, actualmente desarrollando mis
        habilidades en programacion, fanatico de la blockchain y finanzas
      </p>
    </div>
    <div class="btb-descargar">
      <button class="btb-descargarmain">Descargar cv</button>
    </div>
  </div>
  <div class="arrow">
    <a href="#projects-part"><i class="fa-solid fa-angle-down"></i> </a>
  </div>
</div>
<app-proyectos></app-proyectos>
<app-tecnologias></app-tecnologias>
<app-qualifications></app-qualifications>
<app-footer></app-footer>
